<a href="https://colab.research.google.com/github/agupte87/LearningPyspark/blob/master/Second.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [25]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [36]:
!wget -P /spark https://apache.osuosl.org/spark/spark-3.0.3/spark-3.0.3-bin-hadoop3.2.tgz

--2021-07-19 18:36:11--  https://apache.osuosl.org/spark/spark-3.0.3/spark-3.0.3-bin-hadoop3.2.tgz
Resolving apache.osuosl.org (apache.osuosl.org)... 64.50.236.52, 64.50.233.100, 140.211.166.134, ...
Connecting to apache.osuosl.org (apache.osuosl.org)|64.50.236.52|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 224762914 (214M) [application/x-gzip]
Saving to: ‘/spark/spark-3.0.3-bin-hadoop3.2.tgz’

spark-3.0.3-bin-had 100%[===================>] 214.35M  74.8MB/s    in 2.9s

2021-07-19 18:36:14 (74.8 MB/s) - ‘/spark/spark-3.0.3-bin-hadoop3.2.tgz’ saved [224762914/224762914]

In [38]:
!tar xf /spark/spark-3.0.3-bin-hadoop3.2.tgz

In [39]:
!pip install -q findspark

In [42]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.0.3-bin-hadoop3.2"

In [43]:
import findspark
findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.master("local[*]").getOrCreate()

In [45]:
myRange = spark.range(1000).toDF("number")

In [46]:
myRange.show(10)

+------+
|number|
+------+
|     0|
|     1|
|     2|
|     3|
|     4|
|     5|
|     6|
|     7|
|     8|
|     9|
+------+
only showing top 10 rows

In [49]:
#find all even numbers in myRange
dvBy2 = myRange.where("number % 2 = 0")
dvBy2.show(10)

+------+
|number|
+------+
|     0|
|     2|
|     4|
|     6|
|     8|
|    10|
|    12|
|    14|
|    16|
|    18|
+------+
only showing top 10 rows

In [61]:
!wget -P /sample_data/ https://raw.githubusercontent.com/databricks/Spark-The-Definitive-Guide/master/data/flight-data/csv/2015-summary.csv

--2021-07-19 19:25:56--  https://raw.githubusercontent.com/databricks/Spark-The-Definitive-Guide/master/data/flight-data/csv/2015-summary.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 7080 (6.9K) [text/plain]
Saving to: ‘/sample_data/2015-summary.csv.1’

2015-summary.csv.1  100%[===================>]   6.91K  --.-KB/s    in 0s

2021-07-19 19:25:56 (54.3 MB/s) - ‘/sample_data/2015-summary.csv.1’ saved [7080/7080]

In [65]:
%cd /sample_data/
%mv 2015-summary.csv.1 2015-summary.csv
%ls

/sample_data
2015-summary.csv

In [75]:
#Reading from the file, inferring the schema and also including the header
from pyspark.sql.functions import to_timestamp,col,lit
#rc = spark.read.csv('/sample_data/2015-summary.csv', header=True).show(10)
flightData2015 = spark \
. read \
. option ( "inferSchema" , "true" ) \
. option ( "header" , "true" ) \
. csv ( "/sample_data/2015-summary.csv" )